{% extends 'layout.html' %} {% block body %}

<style>

    html body {
      background-color:#fefae0;

  }
</style>


<h2 style="text-align: center; margin: 0px; color: black">
    <b>Register your Farm on our Blockchain</b> <h2>
  </h2>
<div
  style="
    width: 350px;
    height: 40rem;
    margin: 0px auto;
    color: black;
    border-radius: 25px;
    padding: 10px 10px;
  "
>
    <form action="/register-farm" method="POST">
    <div class="form-group">
        <label for="location" style="font-size: 17px"><b>Location:</b></label>
        <input type="text" class="form-control" id="location" name="location" style="font-weight: bold" placeholder="Enter the Place" required>
    </div>
    <div class="form-group">
        <label for="cropType" style="font-size: 17px"><b>Crop Type:</b></label>
        <input type="text" class="form-control" id="cropType" name="cropType" style="font-weight: bold" required>
    </div>
    <div class="form-group">
        <label for="plantingDate" style="font-size: 17px"><b>Planting Date:</b></label>
        <input type="date" class="form-control" id="plantingDate" name="plantingDate" style="font-weight: bold" required>
    </div>
        <div class="form-group">
        <label for="harvestingDate" style="font-size: 17px"><b>Harvesting Date:</b></label>
        <input type="date" class="form-control" id="harvestingDate" name="harvestingDate" style="font-weight: bold" required>
    </div>
    <div class="form-group">
        <label for="isOrganic" style="font-size: 17px"><b>Organic:</b>
        <input type="checkbox" class="CheckBox" id="isOrganic" name="isOrganic" style="font-weight: bold" checked="checked">
        <span class="checkmark"></span>
    </label>

    </div>
    <div class="d-flex justify-content-center">
        <button 
            type="submit"
            style="
            background-color: #ffda61e3;
            color: rgb(0, 0, 0);
            font-weight: bold;
            width: 130px;
            height: 50px;
            border-radius: 12px;
            font-size: 21px;"
        >
            Register
        </button>
    </div>
    </form>
</div>
{% endblock %}
